<html>
    Salut à toi !<br>
    <br>
    Tu viens tout juste de te connecter au Faucon d'or, annuaire interne de ESN France, ou d'y être inscrit . <br>
    N'hésite pas à vérifier si tous les membres de ton association sont bien également inscrits. <br>
    Cet outil te permettra de contacter plus facilement tous les membres de toutes les associations du réseau français, n'hésite pas à l'utiliser!<br>
    <br>
    Tu pourras t'y rendre à cette adresse : <a href="http://faucondor.ixesn.fr">http://faucondor.ixesn.fr</a><br>
    <br>
    A bientôt!<br>
</html>