{% extends 'FaucondorBundle::base.html.twig' %}

{% use 'FaucondorBundle::menu.html.twig' %}

{% block body %}
    <nav>
        {{ block('menu') }}
    </nav>

    {% block content_with_container %}
        <div class="container">
            <section>
                {% block flash %}
                    {% for class, messages in app.session.flashbag.all if class != 'indic' %}
                        {% for message in messages %}
                            <div class="{{ class }} fade span3 message">{{ message|trans }}</div>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}

                {% block content %}{% endblock %}
            </section>
            <div class="clear"></div>
        </div>
    {% endblock %}

    <div class="full_container">

        <div class="footer">
            <p>
                © Code & Design by ESN France G33k Team, Mamadou Diop & Jérémie Samson
            </p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}