{% extends 'FaucondorBundle::base.html.twig' %}

{% use 'FaucondorBundle::menu.html.twig' %}

{% block body %}
    <nav>
        {{ block('menu') }}
    </nav>

    {% block content_with_container %}
        <div class="container">
            <section>
                {% block flash %}
                    {% for class, messages in app.session.flashbag.all if class != 'indic' %}
                        {% for message in messages %}
                            <div class="{{ class }} fade span3 message">{{ message|trans }}</div>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}

                {% block content %}{% endblock %}
            </section>
            <div class="clear"></div>
        </div>
    {% endblock %}

    <div class="full_container">

        <div class="footer">
            <p>
                © Code & Design by Mamadou Diop & Jérémie Samson
            </p>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        var egg = new Egg();
        egg.addCode("up,up,down,down,left,right,left,right,b,a", function() {
            window.location.href = "{{ path('points') }}";
        })
        .addHook(function(){
            console.log("Hook called for: " + this.activeEgg.keys);
            console.log(this.activeEgg.metadata);
        }).listen();
    </script>
{% endblock %}