
    <img src='http://galaxy.esn.org/sites/galaxy.esn.org/files/avatars/picture-13336.jpg'>

    <p>Bonjour Jeremie Samson<br><br>ESN Lille<br>jeremie.samson@ix.esnlille.fr<br><br><a href='index.php?page_id=10'>Se
            deconnecter</a></p>