{% extends 'FaucondorBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ 'label.menu.export'|trans }}</h1>

    <div id="accordion">
        {% for postname, users in posts_users %}
            <h3>{{ postname }}</h3>
            <div>
                <textarea class="focus" style="width: 100%;">{% spaceless %}{{- users -}}{% endspaceless %}</textarea>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $( document ).ready(function() {
            $( "#accordion" ).accordion({
                collapsible: true
            });

            $(".focus").click(function() {
                $(this).select();
            });
        });
    </script>
{% endblock %}